body.onestepcheckout-index-index .osc-title {
    display: inline-block;
}

body.onestepcheckout-index-index .form-list .control label,
.sp-methods dt label,
#checkout-shipping-method-load .sp-methods dd label,
#co-shipping-method-form .sp-methods dd label,
.product-options ul.options-list label {
    min-width: 0px !important;
}

body.onestepcheckout-index-index ul#onestepcheckout-billing-address-list li:nth-child(13) .field:nth-child(2) {
    display: none !important;
}

p.h5 {
    margin-bottom: 15px;
}

@media only screen and (max-width:600px) {
    .desktop {
        display: none!important;
    }
}

@media only screen and (min-width:600px) {
    .mobile {
        display: none!important;
    }
    .espaco {
        margin: 60px 0px;
    }
}


/* Home */

.banner-trio img {
    width: 100%;
}


/* Alinhamento menu */

.cdz-menu.cdz-horizontal-menu.dropdown-fullwidth.dropdown-menustyle02.cdz-normal>ul.groupmenu {
    display: flex;
    justify-content: center;
}


/* Alinhamento Header  */

.page-header .sticky-menu:not(.active) .header-middle {
    padding: 10px 0!important;
}

.logo {
    display: block;
    float: left;
    width: 50%!important;
    min-width: 100px;
    min-height: 44px;
    text-align: center;
    padding: 0px!important;
}

ul.features-links.items.hidden-xs {
    width: 35%;
    float: left;
}

.page-header .sticky-menu.active .header-middle .header-panel-center {
    position: initial!important;
    right: 0px!important;
    top: 2px!important;
    width: 50%!important;
}

.page-header .sticky-menu.active .minisearch .mdl-textfield__input,
.page-header .sticky-menu.active .minisearch #search.input-text {
    display: block!important;
}

.form.minisearch .mdl-textfield,
.form.minisearch#search_mini_form .mdl-textfield {
    width: 90%!important;
    float: left!important;
}

.page-header .sticky-menu.active .logo {
    display: block!important;
}

.page-header .sticky-menu.active .logo>img {
    width: 60%!important;
    margin: 0 auto;
}

#search {
    height: 30px!important;
}

@media only screen and (max-width:600px) {
    header#header .page-header .mb-search-wrap input.mdl-textfield__input,
    .page-header .mb-search-wrap label.mdl-textfield__label,
    .page-header .mb-search-wrap .actions {
        display: block!important;
    }
    .page-header .mb-search-wrap {
        position: initial!important;
        z-index: 5;
        padding: 10px 20px;
    }
    .form.minisearch .search-button,
    .form.minisearch#search_mini_form .search-button {
        color: #000!important;
    }
    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.relative_pos.md-input-container.is-dirty.is-upgraded {
        /* border: 1px solid whitesmoke; */
        box-shadow: 0px 0px 1px 1px #c3c3c3;
    }
    .form.minisearch .search-button,
    .form.minisearch#search_mini_form .search-button {
        height: 29px!important;
    }
    /* Pagina do Produto */
    .row.product-info-main.full-width {
        max-width: 1200px;
        margin: 0 auto!important;
    }
    body.catalog-product-view.catalog-product-view .product-image-gallery.abs-img {
        padding-bottom: 100%!important;
    }
    .lSSlideWrapper.usingCss {
        height: 500px!important;
    }
    .page-header .sticky-menu.active .logo {
        display: inline-block!important;
    }
    .cdz-menu.cdz-horizontal-menu.dropdown-fullwidth.dropdown-menustyle02.cdz-normal>ul.groupmenu {
        display: block!important;
    }
    .mdl-textfield__label {
        top: 8px!important;
    }
    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.relative_pos.md-input-container.is-upgraded {
        border: 1px solid #e4e4e4;
        border-radius: 10px 0px 0px 10px;
    }
    .page-header .header-search .minisearch .mdl-textfield__label:after {
        display: none;
    }
    a.mdl-tabs__tab:nth-child(3) {
        display: none;
    }
    .container.mobile.mini-banners-politicas .col-sm-6 {
        width: 50%;
        float: left;
    }
    .container.mobile.mini-banners-politicas img {
        width: 100%;
    }
    .sticky-menu.js-sticky-menu.active .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.relative_pos.md-input-container.is-upgraded {
        box-shadow: none!important;
    }
    .container.espaco.mobile {
        margin: 40px 0px;
    }
}

@media only screen and (max-width:600px) {
    .lSSlideWrapper.usingCss {
        height: auto!important;
    }
    .mdl-button__ripple-container {
        height: auto!important;
    }
}

@media only screen and (min-width:600px) {
    .sticky-menu.js-sticky-menu.active button.button.search-button.action.search.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect {
        margin-top: -1px;
    }
    .sticky-menu.js-sticky-menu.active .col-sm-12.col-md-8.col-lg-7.header-panel-right {
        margin-top: -4px;
    }
    .sticky-menu.js-sticky-menu.active .col-sm-14.col-md-8.col-lg-9.header-panel-center {
        margin-top: 1px;
    }
    .sticky-menu.js-sticky-menu.active .mdl-textfield__label {
        top: 7px;
    }
    .col-sm-14.col-md-8.col-lg-9.header-panel-center {
        width: 44%;
    }
    .col-sm-14.col-md-8.col-lg-9.header-panel-center,
    .col-sm-12.col-md-8.col-lg-7.header-panel-right {
        margin-top: 7px;
    }
    .page-header .header-search .minisearch .mdl-textfield__label:after {
        display: none!important;
    }
    .sticky-menu.js-sticky-menu.active .header-bottom {
        display: none;
    }
    .sticky-menu.js-sticky-menu.active .header-top {
        display: none;
    }
    .sticky-menu.js-sticky-menu.active .header-middle {
        margin-top: 10px;
    }
    .page-header .sticky-menu.active .header-menu-wrap {
        padding: 0!important;
    }
    li.link.wishlist {
        display: none;
    }
    .sticky-menu.js-sticky-menu.active .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.relative_pos.md-input-container.is-upgraded {
        background-color: white;
        background-color: white;
        box-shadow: 0px 0px 1px 1px grey;
    }
    .page-header .sticky-menu.active {
        background-color: #ffffff!important;
    }
    .mdl-button__ripple-container {
        height: auto!important;
    }
    .page-header .sticky-menu.active .cdz-horizontal-menu .groupmenu {
        background-color: #ffffff!important;
    }
    .page-header .sticky-menu.active .header-bottom {
        background: #ffffff!important;
    }
    .page-header .sticky-menu.active .cdz-horizontal-menu .groupmenu li.level0>a.menu-link {
        color: #000!important;
        border-color: #000!important;
        background: #ffffff!important;
    }
    .page-header .sticky-menu.active .header-minicart .top-cart-link:before {
        color: #000!important;
    }
    .page-header .sticky-menu.active .authorization-link .account-wrapper .cdz-top-link:before {
        color: #000!important;
    }
    .page-header .sticky-menu.active .authorization-link {
        right: 50px!important;
    }
    div#desk_search:not(.sticky-menu.active) {
        box-shadow: 0px 0px 1px 1px grey;
        border-radius: 10px;
    }
    .sticky-menu.active div#desk_search {
        box-shadow: none!important
    }
    .container.desktop.banners-full img {
        width: 80%;
    }
    .container.desktop.banners-full .col-sm-6 {
        display: flex;
        justify-content: center;
    }
    .cdz-popup.popup-quickview-modal.opened {
        border-radius: 50px;
    }
}

label.mdl-textfield__label {
    color: black!important;
}


/* Box Produto - Home */

.grid-style-13.products .owl-item {
    transition: all 500ms ease;
    padding: 10px;
}

.grid-style-13.products .owl-item:hover {
    box-shadow: 0px 0px 10px 1px #cecece;
}

a.product-item-brand {
    display: none;
}

a.towishlist.link-wishlist.js-wishlist {
    display: none;
}

.product.details.product-item-details.product-info {
    text-align: center;
}

a.tocompare.link-compare.js-compare {
    display: none;
}


/* Especifico  */

.container.desktop.espaco.banner-trio {
    margin-top: 10px!important;
}


/* Pagina do produto  */

@media only screen and (min-width:600px) {
    .lSSlideWrapper.usingCss {
        height: 473px!important;
    }
    body.catalog-product-view.catalog-product-view .main {
        max-width: 1200px;
        margin: a auto;
    }
    .product-col.product-right.col-sm-14.col-sm-pull-right {
        width: 50%;
    }
    .product-col.product-left.col-sm-10 {
        width: 42%;
    }
    body.catalog-product-view.catalog-product-view .product-image-gallery.abs-img {
        padding-bottom: 100%!important;
    }
    body.catalog-product-view.catalog-product-view button.button.btn-cart.js-add-to-cart {
        border-radius: 15px!important;
        background-color: #74c174!important;
        transition: all 500ms ease;
    }
    body.catalog-product-view.catalog-product-view button.button.btn-cart.js-add-to-cart:hover {
        background-color: #479789!important;
    }
    .product-view .product-essential .product-info-main .qty-wrapper {
        margin-bottom: 10px!important;
    }
}

.field.qty.qty-wrapper .control {
    border: 1px solid black;
    border-radius: 10px;
    /* margin-bottom: 8px; */
}

body.catalog-product-view.catalog-product-view ul.add-to-links {
    display: none;
}

.product-view .product-essential .product-info-main .price-info .price {
    color: #282828!important;
}

body.catalogsearch-result-index.cdz-fullwidth-fix-left .product-list-style-14 .product-item .button-hover-wrap {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}

body.catalog-category-view .product-list-style-14 .product-item .button-hover-wrap {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}

button.button.search-button.action.search.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect {
    border-radius: 0px 10px 10px 0px;
}

ul.toggle-tabs li:nth-child(3) {
    display: none;
}

ul.account-menu-items.items {
    display: none;
}

a.top-cart-link>span.text {
    visibility: hidden;
}

.page-header .sticky-menu.active .desk-search-wrap #search_mini_form .search-button {
    background: #000000!important;
}

.extra-info {
    display: none;
}

.quickview-body.quickviewpro-index-view.catalog-product-view ul.add-to-links {
    display: none;
}

.quickview-body.quickviewpro-index-view.catalog-product-view .extra-info {
    display: none;
}

.minicart-wrapper p.block-title strong {
    color: black;
}

.mini-products-list .item .product .price {
    color: #000!important;
}

#back-top a {
    border-color: #000000!important;
    background: #000000!important;
}

#back-top a:hover {
    color: #ffffff!important;
}

.cart-summary>.subtotal>span.value>span.price {
    color: black;
}

.main-actions>a.button.checkout-button {
    background-color: #0dab0d!important;
    border-color: #0dab0d!important;
}


/* Header Top */

.header-top {
    display: none;
}