<?php
/**
 * Magmodules.eu - http://www.magmodules.eu.
 *
 * NOTICE OF LICENSE
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://www.magmodules.eu/MM-LICENSE.txt
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to info@magmodules.eu so we can send you a copy immediately.
 *
 * @category      Magmodules
 * @package       Magmodules_Googleshopping
 * @author        Magmodules <info@magmodules.eu>
 * @copyright     Copyright (c) 2019 (http://www.magmodules.eu)
 * @license       https://www.magmodules.eu/terms.html  Single Service License
 */
?>
<script type="text/javascript">
    //<![CDATA[
    function testModule() {
        new Ajax.Request('<?php echo $this->getAjaxCheckUrl() ?>', {
            parameters: {isAjax: 1},
            method: 'get',
            onCreate: function () {
                $('test_result').hide();
            },
            onSuccess: function (transport) {
                if (transport.responseText) {
                    $('test_result').update(transport.responseText);
                } else {
                    $('test_result').update('Unkown error, please check logs');
                }
                $('test_result').show();
            }
        });
    }

    //]]>
</script>
<?php echo $this->getButtonHtml() ?><a name="selftest"></a>
<?php echo $this->getFlatcheck() ?>